{% extends 'base.html' %}

{% block bodyblock %}

<div class="container-fluid bg-1 ">
    <h3 class="margin text-center">Gender Detect</h3>
    <br>
    <div class="container" >
        <form action="" method="POST" enctype="multipart/form-data">
            <label for="upload">Upload image to predict</label>
            <input type="file" id="upload" name="image" required="true">
            <br>
            <input type="submit" value="upload">
        </form>
    </div>

    {% if fileupload %}
        <div class="container">
            <div class="row">
                <p>{{img_name}}</p>
                <div class="col-md-6">
                    <img src="{{url_for('static',filename='uploads/')}}{{img_name}}" alt="" width="{{w}}" height="300">
                </div>
                <div class="col-md-6">
                    <img src="{{url_for('static',filename='predict/')}}{{img_name}}" alt="" width="{{w}}" height="300">
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}